{
  "openapi": "3.0.3",
  "info": {
    "title": "Telegram Bot API",
    "version": "10.1",
    "description": "Generated from the official Telegram Bot API documentation using @gramio/schema-parser.",
    "x-telegram-release-date": "2026-06-11"
  },
  "externalDocs": {
    "description": "Official Telegram Bot API documentation",
    "url": "https://core.telegram.org/bots/api"
  },
  "servers": [
    {
      "url": "https://api.telegram.org/bot{botToken}",
      "description": "Telegram Bot API endpoint. Substitute {botToken} with the token from BotFather.",
      "variables": {
        "botToken": {
          "default": "<bot_token>",
          "description": "Telegram bot token obtained from BotFather."
        }
      },
      "x-telegram-token-location": "server-variable"
    }
  ],
  "paths": {
    "/addStickerToSet": {
      "post": {
        "operationId": "addStickerToSet",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to add a new sticker to a set created by the bot. Emoji sticker sets can have up to 200 stickers. Other sticker sets can have up to 120 stickers. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#addstickertoset"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "User identifier of sticker set owner"
                  },
                  "name": {
                    "type": "string",
                    "description": "Sticker set name"
                  },
                  "sticker": {
                    "description": "A JSON-serialized object with information about the added sticker. If exactly the same sticker had already been added to the set, then the set isn't changed.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InputSticker"
                      }
                    ]
                  }
                },
                "required": [
                  "user_id",
                  "name",
                  "sticker"
                ]
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "user_id": {
                    "type": "integer",
                    "description": "User identifier of sticker set owner"
                  },
                  "name": {
                    "type": "string",
                    "description": "Sticker set name"
                  },
                  "sticker": {
                    "description": "A JSON-serialized object with information about the added sticker. If exactly the same sticker had already been added to the set, then the set isn't changed.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InputSticker"
                      }
                    ]
                  }
                },
                "required": [
                  "user_id",
                  "name",
                  "sticker"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/answerCallbackQuery": {
      "post": {
        "operationId": "answerCallbackQuery",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to send answers to callback queries sent from [inline keyboards](https://core.telegram.org/bots/features#inline-keyboards). The answer will be displayed to the user as a notification at the top of the chat screen or as an alert. On success, *True* is returned.\n\n> Alternatively, the user can be redirected to the specified Game URL. For this option to work, you must first create a game for your bot via [@BotFather](https://t.me/botfather) and accept the terms. Otherwise, you may use links like `t.me/your_bot?start=XXXX` that open your bot with a parameter.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#answercallbackquery"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "text": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 200,
                    "description": "Text of the notification. If not specified, nothing will be shown to the user, 0-200 characters."
                  },
                  "show_alert": {
                    "type": "boolean",
                    "description": "If *True*, an alert will be shown by the client instead of a notification at the top of the chat screen. Defaults to *false*."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL that will be opened by the user's client. If you have created a [Game](https://core.telegram.org/bots/api#game) and accepted the conditions via [@BotFather](https://t.me/botfather), specify the URL that opens your game - note that this will only work if the query comes from a [*callback\\_game*](https://core.telegram.org/bots/api#inlinekeyboardbutton) button.  \n  \nOtherwise, you may use links like `t.me/your_bot?start=XXXX` that open your bot with a parameter."
                  },
                  "cache_time": {
                    "type": "integer",
                    "default": 0,
                    "description": "The maximum amount of time in seconds that the result of the callback query may be cached client-side. Telegram apps will support caching starting in version 3.14. Defaults to 0."
                  }
                },
                "required": [
                  "callback_query_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "callback_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "text": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 200,
                    "description": "Text of the notification. If not specified, nothing will be shown to the user, 0-200 characters."
                  },
                  "show_alert": {
                    "type": "boolean",
                    "description": "If *True*, an alert will be shown by the client instead of a notification at the top of the chat screen. Defaults to *false*."
                  },
                  "url": {
                    "type": "string",
                    "description": "URL that will be opened by the user's client. If you have created a [Game](https://core.telegram.org/bots/api#game) and accepted the conditions via [@BotFather](https://t.me/botfather), specify the URL that opens your game - note that this will only work if the query comes from a [*callback\\_game*](https://core.telegram.org/bots/api#inlinekeyboardbutton) button.  \n  \nOtherwise, you may use links like `t.me/your_bot?start=XXXX` that open your bot with a parameter."
                  },
                  "cache_time": {
                    "type": "integer",
                    "default": 0,
                    "description": "The maximum amount of time in seconds that the result of the callback query may be cached client-side. Telegram apps will support caching starting in version 3.14. Defaults to 0."
                  }
                },
                "required": [
                  "callback_query_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/answerChatJoinRequestQuery": {
      "post": {
        "operationId": "answerChatJoinRequestQuery",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to process a received chat join request query. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#answerchatjoinrequestquery"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_join_request_query_id": {
                    "type": "string",
                    "description": "Unique identifier of the join request query"
                  },
                  "result": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "decline",
                      "queue"
                    ],
                    "description": "Result of the query. Must be either “approve” to allow the user to join the chat, “decline” to disallow the user to join the chat, or “queue” to leave the decision to other administrators."
                  }
                },
                "required": [
                  "chat_join_request_query_id",
                  "result"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_join_request_query_id": {
                    "type": "string",
                    "description": "Unique identifier of the join request query"
                  },
                  "result": {
                    "type": "string",
                    "enum": [
                      "approve",
                      "decline",
                      "queue"
                    ],
                    "description": "Result of the query. Must be either “approve” to allow the user to join the chat, “decline” to disallow the user to join the chat, or “queue” to leave the decision to other administrators."
                  }
                },
                "required": [
                  "chat_join_request_query_id",
                  "result"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/answerGuestQuery": {
      "post": {
        "operationId": "answerGuestQuery",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to reply to a received guest message. On success, a [SentGuestMessage](https://core.telegram.org/bots/api#sentguestmessage) object is returned.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#answerguestquery"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "guest_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "result": {
                    "description": "A JSON-serialized object describing the message to be sent",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InlineQueryResult"
                      }
                    ]
                  }
                },
                "required": [
                  "guest_query_id",
                  "result"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "guest_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "result": {
                    "description": "A JSON-serialized object describing the message to be sent",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InlineQueryResult"
                      }
                    ]
                  }
                },
                "required": [
                  "guest_query_id",
                  "result"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/SentGuestMessage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/answerInlineQuery": {
      "post": {
        "operationId": "answerInlineQuery",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to send answers to an inline query. On success, *True* is returned.  \nNo more than **50** results per query are allowed.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#answerinlinequery"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "inline_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the answered query"
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InlineQueryResult"
                    },
                    "description": "A JSON-serialized array of results for the inline query"
                  },
                  "cache_time": {
                    "type": "integer",
                    "default": 300,
                    "description": "The maximum amount of time in seconds that the result of the inline query may be cached on the server. Defaults to 300."
                  },
                  "is_personal": {
                    "type": "boolean",
                    "description": "Pass *True* if results may be cached on the server side only for the user that sent the query. By default, results may be returned to any user who sends the same query."
                  },
                  "next_offset": {
                    "type": "string",
                    "description": "Pass the offset that a client should send in the next query with the same text to receive more results. Pass an empty string if there are no more results or if you don't support pagination. Offset length can't exceed 64 bytes."
                  },
                  "button": {
                    "description": "A JSON-serialized object describing a button to be shown above inline query results",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InlineQueryResultsButton"
                      }
                    ]
                  }
                },
                "required": [
                  "inline_query_id",
                  "results"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "inline_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the answered query"
                  },
                  "results": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/InlineQueryResult"
                    },
                    "description": "A JSON-serialized array of results for the inline query"
                  },
                  "cache_time": {
                    "type": "integer",
                    "default": 300,
                    "description": "The maximum amount of time in seconds that the result of the inline query may be cached on the server. Defaults to 300."
                  },
                  "is_personal": {
                    "type": "boolean",
                    "description": "Pass *True* if results may be cached on the server side only for the user that sent the query. By default, results may be returned to any user who sends the same query."
                  },
                  "next_offset": {
                    "type": "string",
                    "description": "Pass the offset that a client should send in the next query with the same text to receive more results. Pass an empty string if there are no more results or if you don't support pagination. Offset length can't exceed 64 bytes."
                  },
                  "button": {
                    "description": "A JSON-serialized object describing a button to be shown above inline query results",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InlineQueryResultsButton"
                      }
                    ]
                  }
                },
                "required": [
                  "inline_query_id",
                  "results"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/answerPreCheckoutQuery": {
      "post": {
        "operationId": "answerPreCheckoutQuery",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Once the user has confirmed their payment and shipping details, the Bot API sends the final confirmation in the form of an [Update](https://core.telegram.org/bots/api#update) with the field *pre\\_checkout\\_query*. Use this method to respond to such pre-checkout queries. On success, *True* is returned. **Note:** The Bot API must receive an answer within 10 seconds after the pre-checkout query was sent.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#answerprecheckoutquery"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "pre_checkout_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "ok": {
                    "type": "boolean",
                    "description": "Specify *True* if everything is alright (goods are available, etc.) and the bot is ready to proceed with the order. Use *False* if there are any problems."
                  },
                  "error_message": {
                    "type": "string",
                    "description": "Required if *ok* is *False*. Error message in human readable form that explains the reason for failure to proceed with the checkout (e.g. \"Sorry, somebody just bought the last of our amazing black T-shirts while you were busy filling out your payment details. Please choose a different color or garment!\"). Telegram will display this message to the user."
                  }
                },
                "required": [
                  "pre_checkout_query_id",
                  "ok"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "pre_checkout_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "ok": {
                    "type": "boolean",
                    "description": "Specify *True* if everything is alright (goods are available, etc.) and the bot is ready to proceed with the order. Use *False* if there are any problems."
                  },
                  "error_message": {
                    "type": "string",
                    "description": "Required if *ok* is *False*. Error message in human readable form that explains the reason for failure to proceed with the checkout (e.g. \"Sorry, somebody just bought the last of our amazing black T-shirts while you were busy filling out your payment details. Please choose a different color or garment!\"). Telegram will display this message to the user."
                  }
                },
                "required": [
                  "pre_checkout_query_id",
                  "ok"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/answerShippingQuery": {
      "post": {
        "operationId": "answerShippingQuery",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "If you sent an invoice requesting a shipping address and the parameter *is\\_flexible* was specified, the Bot API will send an [Update](https://core.telegram.org/bots/api#update) with a *shipping\\_query* field to the bot. Use this method to reply to shipping queries. On success, *True* is returned.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#answershippingquery"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "shipping_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "ok": {
                    "type": "boolean",
                    "description": "Pass *True* if delivery to the specified address is possible and *False* if there are any problems (for example, if delivery to the specified address is not possible)"
                  },
                  "shipping_options": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ShippingOption"
                    },
                    "description": "Required if *ok* is *True*. A JSON-serialized array of available shipping options."
                  },
                  "error_message": {
                    "type": "string",
                    "description": "Required if *ok* is *False*. Error message in human readable form that explains why it is impossible to complete the order (e.g. “Sorry, delivery to your desired address is unavailable”). Telegram will display this message to the user."
                  }
                },
                "required": [
                  "shipping_query_id",
                  "ok"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "shipping_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "ok": {
                    "type": "boolean",
                    "description": "Pass *True* if delivery to the specified address is possible and *False* if there are any problems (for example, if delivery to the specified address is not possible)"
                  },
                  "shipping_options": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ShippingOption"
                    },
                    "description": "Required if *ok* is *True*. A JSON-serialized array of available shipping options."
                  },
                  "error_message": {
                    "type": "string",
                    "description": "Required if *ok* is *False*. Error message in human readable form that explains why it is impossible to complete the order (e.g. “Sorry, delivery to your desired address is unavailable”). Telegram will display this message to the user."
                  }
                },
                "required": [
                  "shipping_query_id",
                  "ok"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/answerWebAppQuery": {
      "post": {
        "operationId": "answerWebAppQuery",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to set the result of an interaction with a [Web App](https://core.telegram.org/bots/webapps) and send a corresponding message on behalf of the user to the chat from which the query originated. On success, a [SentWebAppMessage](https://core.telegram.org/bots/api#sentwebappmessage) object is returned.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#answerwebappquery"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "web_app_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "result": {
                    "description": "A JSON-serialized object describing the message to be sent",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InlineQueryResult"
                      }
                    ]
                  }
                },
                "required": [
                  "web_app_query_id",
                  "result"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "web_app_query_id": {
                    "type": "string",
                    "description": "Unique identifier for the query to be answered"
                  },
                  "result": {
                    "description": "A JSON-serialized object describing the message to be sent",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/InlineQueryResult"
                      }
                    ]
                  }
                },
                "required": [
                  "web_app_query_id",
                  "result"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/SentWebAppMessage"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/approveChatJoinRequest": {
      "post": {
        "operationId": "approveChatJoinRequest",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to approve a chat join request. The bot must be an administrator in the chat for this to work and must have the *can\\_invite\\_users* administrator right. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#approvechatjoinrequest"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel in the format `@username`"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target user"
                  }
                },
                "required": [
                  "chat_id",
                  "user_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel in the format `@username`"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target user"
                  }
                },
                "required": [
                  "chat_id",
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/approveSuggestedPost": {
      "post": {
        "operationId": "approveSuggestedPost",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to approve a suggested post in a direct messages chat. The bot must have the 'can\\_post\\_messages' administrator right in the corresponding channel chat. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#approvesuggestedpost"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target direct messages chat"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Identifier of a suggested post message to approve"
                  },
                  "send_date": {
                    "type": "integer",
                    "description": "Point in time (Unix timestamp) when the post is expected to be published; omit if the date has already been specified when the suggested post was created. If specified, then the date must be not more than 2678400 seconds (30 days) in the future."
                  }
                },
                "required": [
                  "chat_id",
                  "message_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target direct messages chat"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Identifier of a suggested post message to approve"
                  },
                  "send_date": {
                    "type": "integer",
                    "description": "Point in time (Unix timestamp) when the post is expected to be published; omit if the date has already been specified when the suggested post was created. If specified, then the date must be not more than 2678400 seconds (30 days) in the future."
                  }
                },
                "required": [
                  "chat_id",
                  "message_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/banChatMember": {
      "post": {
        "operationId": "banChatMember",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to ban a user in a group, a supergroup or a channel. In the case of supergroups and channels, the user will not be able to return to the chat on their own using invite links, etc., unless [unbanned](https://core.telegram.org/bots/api#unbanchatmember) first. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#banchatmember"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target group or username of the target supergroup or channel in the format `@username`"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target user"
                  },
                  "until_date": {
                    "type": "integer",
                    "description": "Date when the user will be unbanned; Unix time. If user is banned for more than 366 days or less than 30 seconds from the current time they are considered to be banned forever. Applied for supergroups and channels only."
                  },
                  "revoke_messages": {
                    "type": "boolean",
                    "description": "Pass *True* to delete all messages from the chat for the user that is being removed. If *False*, the user will be able to see messages in the group that were sent before the user was removed. Always *True* for supergroups and channels."
                  }
                },
                "required": [
                  "chat_id",
                  "user_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target group or username of the target supergroup or channel in the format `@username`"
                  },
                  "user_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target user"
                  },
                  "until_date": {
                    "type": "integer",
                    "description": "Date when the user will be unbanned; Unix time. If user is banned for more than 366 days or less than 30 seconds from the current time they are considered to be banned forever. Applied for supergroups and channels only."
                  },
                  "revoke_messages": {
                    "type": "boolean",
                    "description": "Pass *True* to delete all messages from the chat for the user that is being removed. If *False*, the user will be able to see messages in the group that were sent before the user was removed. Always *True* for supergroups and channels."
                  }
                },
                "required": [
                  "chat_id",
                  "user_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/banChatSenderChat": {
      "post": {
        "operationId": "banChatSenderChat",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to ban a channel chat in a supergroup or a channel. Until the chat is [unbanned](https://core.telegram.org/bots/api#unbanchatsenderchat), the owner of the banned chat won't be able to send messages on behalf of **any of their channels**. The bot must be an administrator in the supergroup or channel for this to work and must have the appropriate administrator rights. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#banchatsenderchat"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel in the format `@username`"
                  },
                  "sender_chat_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target sender chat"
                  }
                },
                "required": [
                  "chat_id",
                  "sender_chat_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel in the format `@username`"
                  },
                  "sender_chat_id": {
                    "type": "integer",
                    "description": "Unique identifier of the target sender chat"
                  }
                },
                "required": [
                  "chat_id",
                  "sender_chat_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/close": {
      "post": {
        "operationId": "close",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to close the bot instance before moving it from one local server to another. You need to delete the webhook before calling this method to ensure that the bot isn't launched again after server restart. The method will return error 429 in the first 10 minutes after the bot is launched. Returns *True* on success. Requires no parameters.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#close"
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/closeForumTopic": {
      "post": {
        "operationId": "closeForumTopic",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to close an open topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the *can\\_manage\\_topics* administrator rights, unless it is the creator of the topic. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#closeforumtopic"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target supergroup in the format `@username`"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target message thread of the forum topic"
                  }
                },
                "required": [
                  "chat_id",
                  "message_thread_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target supergroup in the format `@username`"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target message thread of the forum topic"
                  }
                },
                "required": [
                  "chat_id",
                  "message_thread_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/closeGeneralForumTopic": {
      "post": {
        "operationId": "closeGeneralForumTopic",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to close an open 'General' topic in a forum supergroup chat. The bot must be an administrator in the chat for this to work and must have the *can\\_manage\\_topics* administrator rights. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#closegeneralforumtopic"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target supergroup in the format `@username`"
                  }
                },
                "required": [
                  "chat_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target supergroup in the format `@username`"
                  }
                },
                "required": [
                  "chat_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/convertGiftToStars": {
      "post": {
        "operationId": "convertGiftToStars",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Converts a given regular gift to Telegram Stars. Requires the *can\\_convert\\_gifts\\_to\\_stars* business bot right. Returns *True* on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#convertgifttostars"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection"
                  },
                  "owned_gift_id": {
                    "type": "string",
                    "description": "Unique identifier of the regular gift that should be converted to Telegram Stars"
                  }
                },
                "required": [
                  "business_connection_id",
                  "owned_gift_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "business_connection_id": {
                    "type": "string",
                    "description": "Unique identifier of the business connection"
                  },
                  "owned_gift_id": {
                    "type": "string",
                    "description": "Unique identifier of the regular gift that should be converted to Telegram Stars"
                  }
                },
                "required": [
                  "business_connection_id",
                  "owned_gift_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "boolean",
                          "enum": [
                            true
                          ]
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/copyMessage": {
      "post": {
        "operationId": "copyMessage",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to copy messages of any kind. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz [poll](https://core.telegram.org/bots/api#poll) can be copied only if the value of the field *correct\\_option\\_id* is known to the bot. The method is analogous to the method [forwardMessage](https://core.telegram.org/bots/api#forwardmessage), but the copied message doesn't have a link to the original message. Returns the [MessageId](https://core.telegram.org/bots/api#messageid) of the sent message on success.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#copymessage"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target bot, supergroup or channel in the format `@username`"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original message was sent (or username of the target bot, supergroup or channel in the format `@username`)"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*"
                  },
                  "video_start_timestamp": {
                    "type": "integer",
                    "description": "New start timestamp for the copied video in the message"
                  },
                  "caption": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024,
                    "x-telegram-semantic-type": "formattable",
                    "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept."
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the new caption. See [formatting options](https://core.telegram.org/bots/api#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of *parse\\_mode*"
                  },
                  "show_caption_above_media": {
                    "type": "boolean",
                    "description": "Pass *True*, if the caption must be shown above the message media. Ignored if a new caption isn't specified."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass *True* to allow up to 1000 messages per second, ignoring [broadcasting limits](https://core.telegram.org/bots/faq#how-can-i-message-all-of-my-bot-39s-subscribers-at-once) for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance."
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; only available when copying to private chats"
                  },
                  "suggested_post_parameters": {
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SuggestedPostParameters"
                      }
                    ]
                  },
                  "reply_parameters": {
                    "description": "Description of the message to reply to",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ReplyParameters"
                      }
                    ]
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user."
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target bot, supergroup or channel in the format `@username`"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "description": "Identifier of the direct messages topic to which the message will be sent; required if the message is sent to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original message was sent (or username of the target bot, supergroup or channel in the format `@username`)"
                  },
                  "message_id": {
                    "type": "integer",
                    "description": "Message identifier in the chat specified in *from\\_chat\\_id*"
                  },
                  "video_start_timestamp": {
                    "type": "integer",
                    "description": "New start timestamp for the copied video in the message"
                  },
                  "caption": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 1024,
                    "x-telegram-semantic-type": "formattable",
                    "description": "New caption for media, 0-1024 characters after entities parsing. If not specified, the original caption is kept."
                  },
                  "parse_mode": {
                    "type": "string",
                    "description": "Mode for parsing entities in the new caption. See [formatting options](https://core.telegram.org/bots/api#formatting-options) for more details."
                  },
                  "caption_entities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/MessageEntity"
                    },
                    "description": "A JSON-serialized list of special entities that appear in the new caption, which can be specified instead of *parse\\_mode*"
                  },
                  "show_caption_above_media": {
                    "type": "boolean",
                    "description": "Pass *True*, if the caption must be shown above the message media. Ignored if a new caption isn't specified."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the message [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent message from forwarding and saving"
                  },
                  "allow_paid_broadcast": {
                    "type": "boolean",
                    "description": "Pass *True* to allow up to 1000 messages per second, ignoring [broadcasting limits](https://core.telegram.org/bots/faq#how-can-i-message-all-of-my-bot-39s-subscribers-at-once) for a fee of 0.1 Telegram Stars per message. The relevant Stars will be withdrawn from the bot's balance."
                  },
                  "message_effect_id": {
                    "type": "string",
                    "description": "Unique identifier of the message effect to be added to the message; only available when copying to private chats"
                  },
                  "suggested_post_parameters": {
                    "description": "A JSON-serialized object containing the parameters of the suggested post to send; for direct messages chats only. If the message is sent as a reply to another suggested post, then that suggested post is automatically declined.",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SuggestedPostParameters"
                      }
                    ]
                  },
                  "reply_parameters": {
                    "description": "Description of the message to reply to",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/ReplyParameters"
                      }
                    ]
                  },
                  "reply_markup": {
                    "oneOf": [
                      {
                        "$ref": "#/components/schemas/InlineKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardMarkup"
                      },
                      {
                        "$ref": "#/components/schemas/ReplyKeyboardRemove"
                      },
                      {
                        "$ref": "#/components/schemas/ForceReply"
                      }
                    ],
                    "description": "Additional interface options. A JSON-serialized object for an [inline keyboard](https://core.telegram.org/bots/features#inline-keyboards), [custom reply keyboard](https://core.telegram.org/bots/features#keyboards), instructions to remove a reply keyboard or to force a reply from the user."
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/MessageId"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/copyMessages": {
      "post": {
        "operationId": "copyMessages",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to copy messages of any kind. If some of the specified messages can't be found or copied, they are skipped. Service messages, paid media messages, giveaway messages, giveaway winners messages, and invoice messages can't be copied. A quiz [poll](https://core.telegram.org/bots/api#poll) can be copied only if the value of the field *correct\\_option\\_id* is known to the bot. The method is analogous to the method [forwardMessages](https://core.telegram.org/bots/api#forwardmessages), but the copied messages don't have a link to the original message. Album grouping is kept for copied messages. On success, an array of [MessageId](https://core.telegram.org/bots/api#messageid) of the sent messages is returned.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#copymessages"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target bot, supergroup or channel in the format `@username`"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "description": "Identifier of the direct messages topic to which the messages will be sent; required if the messages are sent to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original messages were sent (or username of the target bot, supergroup or channel in the format `@username`)"
                  },
                  "message_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to copy. The identifiers must be specified in a strictly increasing order."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent messages from forwarding and saving"
                  },
                  "remove_caption": {
                    "type": "boolean",
                    "description": "Pass *True* to copy the messages without their captions"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target bot, supergroup or channel in the format `@username`"
                  },
                  "message_thread_id": {
                    "type": "integer",
                    "description": "Unique identifier for the target message thread (topic) of a forum; for forum supergroups and private chats of bots with forum topic mode enabled only"
                  },
                  "direct_messages_topic_id": {
                    "type": "integer",
                    "description": "Identifier of the direct messages topic to which the messages will be sent; required if the messages are sent to a direct messages chat"
                  },
                  "from_chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the chat where the original messages were sent (or username of the target bot, supergroup or channel in the format `@username`)"
                  },
                  "message_ids": {
                    "type": "array",
                    "items": {
                      "type": "integer"
                    },
                    "description": "A JSON-serialized list of 1-100 identifiers of messages in the chat *from\\_chat\\_id* to copy. The identifiers must be specified in a strictly increasing order."
                  },
                  "disable_notification": {
                    "type": "boolean",
                    "description": "Sends the messages [silently](https://telegram.org/blog/channels-2-0#silent-messages). Users will receive a notification with no sound."
                  },
                  "protect_content": {
                    "type": "boolean",
                    "description": "Protects the contents of the sent messages from forwarding and saving"
                  },
                  "remove_caption": {
                    "type": "boolean",
                    "description": "Pass *True* to copy the messages without their captions"
                  }
                },
                "required": [
                  "chat_id",
                  "from_chat_id",
                  "message_ids"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MessageId"
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/createChatInviteLink": {
      "post": {
        "operationId": "createChatInviteLink",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to create an additional invite link for a chat. The bot must be an administrator in the chat for this to work and must have the appropriate administrator rights. The link can be revoked using the method [revokeChatInviteLink](https://core.telegram.org/bots/api#revokechatinvitelink). Returns the new invite link as [ChatInviteLink](https://core.telegram.org/bots/api#chatinvitelink) object.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#createchatinvitelink"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel in the format `@username`"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 32,
                    "description": "Invite link name; 0-32 characters"
                  },
                  "expire_date": {
                    "type": "integer",
                    "description": "Point in time (Unix timestamp) when the link will expire"
                  },
                  "member_limit": {
                    "type": "integer",
                    "description": "The maximum number of users that can be members of the chat simultaneously after joining the chat via this invite link; 1-99999"
                  },
                  "creates_join_request": {
                    "type": "boolean",
                    "description": "*True*, if users joining the chat via the link need to be approved by chat administrators. If *True*, *member\\_limit* can't be specified."
                  }
                },
                "required": [
                  "chat_id"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target chat or username of the target channel in the format `@username`"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 32,
                    "description": "Invite link name; 0-32 characters"
                  },
                  "expire_date": {
                    "type": "integer",
                    "description": "Point in time (Unix timestamp) when the link will expire"
                  },
                  "member_limit": {
                    "type": "integer",
                    "description": "The maximum number of users that can be members of the chat simultaneously after joining the chat via this invite link; 1-99999"
                  },
                  "creates_join_request": {
                    "type": "boolean",
                    "description": "*True*, if users joining the chat via the link need to be approved by chat administrators. If *True*, *member\\_limit* can't be specified."
                  }
                },
                "required": [
                  "chat_id"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ChatInviteLink"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
            "description": "Telegram API error response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TelegramErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/createChatSubscriptionInviteLink": {
      "post": {
        "operationId": "createChatSubscriptionInviteLink",
        "tags": [
          "Telegram Bot API"
        ],
        "description": "Use this method to create a [subscription invite link](https://telegram.org/blog/superchannels-star-reactions-subscriptions#star-subscriptions) for a channel chat. The bot must have the *can\\_invite\\_users* administrator rights. The link can be edited using the method [editChatSubscriptionInviteLink](https://core.telegram.org/bots/api#editchatsubscriptioninvitelink) or revoked using the method [revokeChatInviteLink](https://core.telegram.org/bots/api#revokechatinvitelink). Returns the new invite link as a [ChatInviteLink](https://core.telegram.org/bots/api#chatinvitelink) object.",
        "externalDocs": {
          "description": "Telegram Bot API reference",
          "url": "https://core.telegram.org/bots/api#createchatsubscriptioninvitelink"
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target channel chat or username of the target channel in the format `@username`"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 32,
                    "description": "Invite link name; 0-32 characters"
                  },
                  "subscription_period": {
                    "type": "integer",
                    "description": "The number of seconds the subscription will be active for before the next payment. Currently, it must always be 2592000 (30 days)."
                  },
                  "subscription_price": {
                    "type": "integer",
                    "description": "The amount of Telegram Stars a user must pay initially and after each subsequent subscription period to be a member of the chat; 1-10000"
                  }
                },
                "required": [
                  "chat_id",
                  "subscription_period",
                  "subscription_price"
                ]
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "chat_id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Unique identifier for the target channel chat or username of the target channel in the format `@username`"
                  },
                  "name": {
                    "type": "string",
                    "minLength": 0,
                    "maxLength": 32,
                    "description": "Invite link name; 0-32 characters"
                  },
                  "subscription_period": {
                    "type": "integer",
                    "description": "The number of seconds the subscription will be active for before the next payment. Currently, it must always be 2592000 (30 days)."
                  },
                  "subscription_price": {
                    "type": "integer",
                    "description": "The amount of Telegram Stars a user must pay initially and after each subsequent subscription period to be a member of the chat; 1-10000"
                  }
                },
                "required": [
                  "chat_id",
                  "subscription_period",
                  "subscription_price"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Telegram API response",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/TelegramOkResponse"
                    },
                    {
                      "type": "object",
                      "required": [
                        "result"
                      ],
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/ChatInviteLink"
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "default": {
[...]
